.App {
  text-align: center;
}
body{
background: #007bff;
font-family: 'Poppins', sans-serif;
}
.cards-container{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.card li{
list-style: none;
margin:0.7rem;
}
.card{
width:18rem;
height: fit-content;
background-color: #f1f1f1;
margin:2rem;
padding:1.6rem 0.8rem;
transition: all 0.2s;
border-radius:1.5rem;
}
.card:hover {
margin-top: -0.2rem;
 margin-bottom: .3rem;
 box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
 }
.card-title{
font-size:1.2rem;
margin:0;
color:darkslategray;
text-transform: uppercase;
letter-spacing: 2px;
}
.card-price{
font-size:2rem;
margin:0.5rem 0 1rem 0;
font-weight: 700;
}
.text-light{
color:grey;
}
.month{
font-size:0.8rem;
}
.detail-container{
font-size:0.8rem;
display: flex;
flex-direction: column;
text-align:left;
}
